@import '../../../assets/styles/includes/vars';
@import '../../../assets/styles/includes/mixins';

.btn {
    transition: all .15s;
}

.btnStandard {
    padding: 15px 50px;
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid var(--greyLight);
    background-color: var(--secondary);
    color: var(--white);

    &:hover {
        filter: brightness(.8);
    }
}

.btnDark {
    background-color: var(--black);
}

.btnSecondary {
    background-color: #F5F7FB;
    color: var(--black);
}

.btnPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    svg {
        stroke: var(--white);
        width: 16px;
        height: 16px;
    }

    &:hover {
        filter: brightness(.8);
    }
}

.btnMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;

    span {
        width: 6px;
        height: 6px;
        border: 1px solid var(--grey);
        border-radius: 50%;
        transition: all .15s;
        display: block;

        & + span {
            margin-top: 4px;
        }
    }

    &:hover {
        span {
            border-color: var(--secondary);
        }
    }
}
