{
  "importOrder": [
    "^../(.*)$",
    "^./(.*)$",
    "^core/(.*)$",
    "^assets/(.*)$",
    "^(modules|components)/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tabWidth": 4,
  "singleQuote": true,
  "jsxSingleQuote": true
}
