@import '../../../assets/styles/includes/vars';
@import '../../../assets/styles/includes/mixins';

.input {
    background-color: var(--white);
    border: 1px solid var(--greyLight);
    width: 100%;
    color: var(--primary);
    padding: 11px 15px;
    border-radius: 10px;
}

.inputWrap {
    position: relative;
}

.inputAccent {
    border-color: var(--secondary);
}

.inputError {
    border-color: var(--red);
}

.inputErrorText {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    color: var(--red);
}
