@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.assets {
    width: 100%;
    background-color: var(--white);
    position: relative;
}

.details {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: var(--white);
    border-left: 1px solid var(--greyLight);
    z-index: 4;

    @media (max-width: 1536px) {
        width: calc(100% - 750px);
    }
}

.assetTabItem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 15px;
    color: var(--black);
    cursor: pointer;

    &:hover {
        color: var(--secondary);
    }

    &Light {
        color: var(--white);
        padding: 10px 15px;

        &.assetTabItemActive {
            &::after {
                background-color: var(--white);
            }
        }
    }
}

.assetTabItemActive {
    font-weight: 700;
    pointer-events: none;

    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 3px;
        background-color: var(--secondary);
        left: 0;
    }
}

.trackProgress {
    width: 100%;
    object-fit: contain;
    object-position: left center;
    height: 90px;
}
