@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.item {
    display: flex;
    align-items: center;
    border: 1px solid var(--greyLight);
    border-radius: 10px;
    padding: 10px 25px;
    height: 65px;
}

.itemHighlighted {
    background-color: #F5F7FB;
}

.itemName {
    width: 150px;
    flex-shrink: 0;
    margin-right: 10px;
}

.itemValue {
    font-weight: 700;
}

.itemSelect {
    margin-left: -10px;
}
