@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.history {
    position: relative;
}

.historyTableWrap {
    margin-left: -30px;
    width: calc(100% + 60px);
}

.historyTr {
    td:last-child {
        padding: 15px 20px;
    }
}
