@import '/src/assets/styles/includes/vars';
@import '/src/assets/styles/includes/mixins';

.pageWrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.pageWrapperContent {
    flex-grow: 1;
    display: flex;
}
