@import '../../../../assets/styles/includes/vars';
@import '../../../../assets/styles/includes/mixins';

.item {

}

.itemCount {
    font-size: 28px;
    font-weight: 700;
}

.itemSeparator {
    display: block;
    height: 3px;
    width: 60px;
}

.itemName {
    font-size: 12px;
}
